body {
    font-family: arial, sans-serif;
    font-size: 13px;
}


ul {
    margin: 0;
    padding: 12px 18px;
    text-decoration: none;
}

#navbar li {
    display: inline-block;
    text-align: center;
    text-decoration-line: none;
}

#navbar a {
    padding: 0px 5px;
}


#btn-sign-in {

    border: 1px solid #4285f4;
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    padding: 7px 12px 6px 12px;
    border-radius: 2px;
    text-decoration: none;
}

#nav-icon {
    color: grey;
    vertical-align: middle;
    padding: 0 15px;
}

#nav-icon:hover {
    color: black;
}

.nav-float-left {
    display: block;
    float: left;
    text-align: center;
    padding-top: 7px;
    
}

.nav-float-right {
    display: block;
    float: right;
    text-align: center;
}